/* My custom changes to Bootstrap's CSS... */

@import url('https://fonts.googleapis.com/css?family=Anton');

.gradient-bg {
  width: 150%;
  min-width: 100%;
  height: 200%;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: #1a1a2a;
  -webkit-background-image: radial-gradient(circle, transparent 0%, #0a0b13 100%), url(../img/noise-160.png);
  background-image: radial-gradient(circle, transparent 0%, #0a0b13 75%), url(../img/noise-160.png);
  background-repeat: repeat;
  -webkit-background-size: auto;
  background-size: auto;
  background-position: center;
  z-index: -10;
}

/* This is for the top of the site */
.mytitle {
  color: white;
  font-family: "Anton", "Helvetica", "Times New Roman";
}

/* Make the main link not look ugly with underlines */
a:hover {
  text-decoration: none;
}

/* Make modal header not so fat */
.modal-header {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* This was negative 15px and made it all weird */
.navbar-right {
  margin-right: 0px;
}

.footer {
  font-size: 12px;
  text-align: center;
  padding-top: 16px;
}

p {
  margin-bottom: 0px;
}

/* Fix the title above the stream to be responsive to screen size */
h1 {
  font-size: 3.5vmax;
}

#thejumbo {
  margin-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.jumbotron p {
  margin-bottom: 0px;
  margin-top: 8px;
}

.jumbotron h1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
